{% extends 'base.html.twig' %}

{% block body %}

<div id="root">

    <!-- Top menu -->
    {% include 'extends/menu.html.twig' %}

    <!-- Main Content -->
    <main class="flex-grow-1 overflow-auto py-5">
        {% block application %}
        {% endblock %}
    </main>
</div>

{% endblock %}