<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <img src="{{ asset('img/streamplus.jpg') }}" alt="{{ 'Logo' |trans }} StreamPlus" width="50" height="50" class="d-inline-block align-text-top">
        <div class="menuLogo mx-auto text-center">
            StreamPlus
        </div>
    </div>
</nav>
