{% extends 'extends/application.html.twig' %}

{% block title %}{{ 'User subscription' |trans }}{% endblock %}

{% block application %}

<div class="container">

    <!-- Page title -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="mb-0">{{ 'Success subscription' |trans }}</h2>
    </div>

    <!-- TODO -->
    <div class="card shadow-sm p-4">
    
        {{ 'Congrates ! You're subscribe !' |trans }}

    </div>

</div>
{% endblock %}


{% block javascripts %}
<script>

</script>
{% endblock %}